<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" runat="server"/>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript" runat="server"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript" runat="server"></script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>MiracleSticks Administration</h1>
            </div>
            <div id="logindisplay">
                @if (Request.IsAuthenticated)
                {
                    <text>Welcome <strong>@User.Identity.Name</strong>!
                    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
                }
                else
                {
                    <text>Log On</text> 
                }
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
